body{
    display:flex;
}

div{
    box-sizing: border-box;
}

.container{
           box-sizing: border-box;
            display: flex;
            position: absolute;
            width: 100%;
            min-height: 100%;
            left: 0;
            top: 0;
            flex-wrap:wrap;
            justify-content:center;
            background-color: aliceblue;
}
    .etchSketch{
        top:5%;
        box-sizing:border-box;
        background-color:black;
        display:flex;
        position:absolute;
        width:30vw;
        height:30vw;
        flex-wrap:wrap;
       justify-content: center;
    }
.newDiv{
 box-sizing:border-box;
 background-color: aqua;
 border: 0.01vw;
 border-color:azure;
 border-style:solid;
 flex-grow:1;
}
 
 .newDivHover{
    box-sizing:border-box;
    background-color:red;
    border: 0.01vw;
    border-color:azure;
    border-style:solid;
    flex-grow:1;
 }